<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key></key>
		<string></string>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>NSLocationUsageDescription</key>
	<string>By clicking “Allow” and if your employer has enabled the location function, you consent to your employer having access to your location when you sign up for ACE Travel Smart. You can hide your location by choosing “Don’t Allow” or turning off location services within general settings.</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string>intrepidDev</string>
	<key>UIAppFonts</key>
	<array>
		<string>proximanova-light.ttf</string>
		<string>proximanova-semibold.ttf</string>
		<string>proximanova-bold.ttf</string>
		<string>proximanova-regular.ttf</string>
		<string>ProximaNova-LightItalic.otf</string>
		<string>ProximaNova-RegItalic.otf</string>
		<string>ProximaNova-SemiboldItalic.otf</string>
		<string>ProximaNova-Semibold.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-Light.otf</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>By clicking “Allow” and if your employer has enabled the location function, you consent to your employer having access to your location when you sign up for ACE Travel Smart. You can hide your location by choosing “Don’t Allow” or turning off location services within general settings.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>By clicking “Allow” and if your employer has enabled the location function, you consent to your employer having access to your location when you sign up for ACE Travel Smart. You can hide your location by choosing “Don’t Allow” or turning off location services within general settings.</string>
</dict>
</plist>
