<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key></key>
		<string></string>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>NSLocationUsageDescription</key>
	<string>Your location is used to provide directions and relevant search results.</string>
	<key>CFBundleIdentifier</key>
	<string>com.intrepidapp247.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>UIAppFonts</key>
	<array>
		<string>proximanova-light.ttf</string>
		<string>proximanova-semibold.ttf</string>
		<string>proximanova-bold.ttf</string>
		<string>proximanova-regular.ttf</string>
		<string>ProximaNova-LightItalic.otf</string>
		<string>ProximaNova-RegItalic.otf</string>
		<string>ProximaNova-SemiboldItalic.otf</string>
		<string>ProximaNova-Semibold.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-Light.otf</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to provide directions and relevant search results.</string>
</dict>
</plist>
